{% extends 'base.html.twig' %}

{% block title %}3Habits - Welcome{% endblock %}

{% block body %}

	<h2>U bent niet ingelogd.</h2>
	<p>Gelieve <a href="/login">hier</a> in te loggen.</p>

{% endblock %}