{% extends "::base.html.twig" %}

{% block title %}Your Daily Habits{% endblock %}

{% block body %}
	{% if success == true %}
		<h2>Welcome {{user.name}} </h2>
		
		{% if habits %}
			<table>
				{% for h in habits %}
					<tr>
						<td>{{h.description|e}}</td>
						<td>
							<form action="" method="post">
								<input type="hidden" name="habit_id" value={{h.id}}>
								<input type="submit" value="Done">
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
		
	{% else %}
		<h2>Sorry, that user could not be found :s</h2>
		<p>Go back to the  <a href="/">login page</a></p>
	{% endif %}	

{% endblock %}
