{% extends "::base.html.twig" %}

{% block title %}Index | Administrator{% endblock %}

{% block body %}
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div style="min-height: 946px;" class="content-wrapper">
            <section class="content-header">
                <h2>Welkom {{ app.user.username }}</h2>
            </section>
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Acties</h3>
                            </div>
                            <div class="box-body">
                                {% if notices %}
                                    <div>
                                        {% for n in notices %}
                                            <pre>n</pre>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <a href="/admin/users/new">
                                    Nieuwe gebruiker
                                </a>

                                <p>Een overzicht van alle <a href="/admin/users">gebruikers</a>.</p>
                                <p>Een overzicht van alle <a href="/admin/coaches">coaches</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
