{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<p>Welkom {{ app.user.username }}</p>
	{% else %}
		<h3>Welkom bij 3habits</h3>
		<p>U dient zich <a href="/login">in te loggen</a> vooraleer u verder kan gaan.</p>
	{% endif %}
{% endblock %}
